body {
    font-family: "Montserrat", sans-serif;
    color: black;
    font-size: 1em;
    text-align: center;
}

#wrapper {
    margin: 0 auto;
    width: 960px;
    text-align: left;
    color: #000;
    background-color: rgb(237, 250, 255);
    margin-top: 50px;
    padding: 20px;
    padding-top: 40px;
}

h1 {
    text-align: center;
}

#row {
    text-align: center;
    margin: 30px;
}

#name {
    margin: 30px;
}

#phone {
    margin: 30px;
}

#email {
    margin: 30px;
}

#ava_time {
    display: inline-block;
}

#schedule {
    text-align: center;
    margin: 30px;
    padding: 25px;
    background-color: rgb(239, 235, 242);
}
