#my-reservations {
    .MuiTableCell-root {
        padding: 0;
        font-size: 0.8rem !important;
    }
    .MuiTableCell-head {
        text-align: center;
    }
}

@media only screen and (max-device-width: 1000px) {
    #my-reservations {
        display: grid;
        grid-row-gap: 20px;
    }
}
