.hours-fields {
    display: grid;
    grid-column-gap: 5px;
}

.time-input-container {
    display: grid;
    grid-template-columns: minmax(150px, 0.5fr) 1fr;
    grid-column-gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 2vh 2vw;

    .time-fields {
        display: grid;
        grid-template-columns: minmax(100px, 0.75fr) 25px minmax(100px, 0.75fr) 1fr;
        grid-column-gap: 10px;
        align-items: center;
        justify-content: center;
    }

    p {
        text-align: center;
    }
    .MuiFormControlLabel-root {
        align-self: center;
        justify-content: center;
    }
}

.two-fields-inline {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    max-width: 700px;
}

.long {
    grid-template-columns: 1.5fr 0.5fr;
}

.field-regular {
    width: 100%;
    max-width: 700px;
}

.field-small {
    width: 100%;
    max-width: 340px;
}

.field-medium {
    width: 100%;
    max-width: 545px;
}

.field-extra-small {
    width: 100%;
    max-width: 150px;
}

.rating-container {
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);

    p {
        color: rgba(0, 0, 0, 0.54);
    }

    .MuiRating-root {
        color: var(--primary);
        justify-self: flex-end;
    }
}

@media only screen and (max-device-width: 1000px) {
    .time-input-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        p {
            text-align: center;
        }
        h2 {
            font-size: 14px;
        }
        .MuiInputBase-root,
        .MuiFormControlLabel-label {
            font-size: 0.8rem;
        }
    }
}
