#shop-page-wrapper {
    display: grid;
    grid-template-rows: 0.1fr auto 0.99fr;
    grid-row-gap: 20px;

    #top-info {
        p {
            margin: 1.5vh 0;
        }
        #service-tags {
            display: inline;
        }

        .MuiChip-root {
            margin: 1.5vh 0;
        }
    }
}

#shop-info-content {
    display: grid;
    grid-template-rows: 0.3fr 0.3fr 0.3fr;
    grid-row-gap: 10px;

    #shop-information {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 10px;
    }
}

#shop-reviews {
    .circle {
        border-radius: 10px;
        p {
            text-align: center;
            margin: 0.5rem 0.5rem;
        }
    }

    .big {
        border: 3px solid var(--primary-dark);
        padding: 30px;
        margin: 1rem 1rem;
    }

    .medium {
        border: 3px solid var(--secondary-dark);
        padding: 10px;
        margin: 0.5rem 0.5rem;
    }

    #avg-rating {
        display: grid;
        grid-template-columns: 1fr 6fr;
        align-items: center;
        justify-content: center;

        .barber-ratings-cards {
            display: flex;
        }
    }
}

#barbers-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
