#shop-page-wrapper {
    display: grid;
    //grid-template-rows: 0.1fr auto 0.99fr;
    grid-row-gap: 20px;

    #top-info {
        p {
            margin: 1.5vh 0;
        }
        #service-tags {
            display: inline;
        }

        .MuiChip-root {
            margin: 1.5vh 0;
        }
    }
}

#shop-info-content {
    display: grid;
    grid-template-rows: 0.3fr 0.3fr 0.3fr;
    grid-row-gap: 10px;

    #shop-information {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 10px;
    }
}

#shop-reviews {
    p {
        text-align: center;
    }

    .circle {
        border-radius: 10px;
        display: grid;
        place-items: center;
        p {
            margin: 0.5rem 0.5rem;
        }
    }

    .big {
        border: 3px solid var(--primary-dark);
        padding: 30px;
        margin: 1rem 1rem;
    }

    .medium {
        border: 3px solid var(--secondary-dark);
        padding: 10px;
        margin: 0.5rem 0.5rem;
    }

    #avg-rating {
        display: grid;
        grid-template-columns: 1fr 6fr;
        align-items: center;
        justify-content: center;

        .barber-ratings-cards {
            display: flex;
        }
    }
}

#barbers-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

@media only screen and (max-device-width: 1000px) {
    #shop-information {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr !important;
        grid-template-columns: 1fr !important;
        grid-row-gap: 10px;
    }

    #barbers-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 0;
        grid-row-gap: 10px;
    }

    #shop-reviews {
        #avg-rating {
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr;
            align-items: center;
            justify-content: center;

            .barber-ratings-cards {
                display: none;
            }
        }
    }
    p {
        text-align: center;
    }
}
