.carousel-wrapper {
    .rec {
        color: var(--primary);
        //height: fit-content !important;
    }

    .rec-slider,
    .rec-slider-container {
        height: auto !important;
    }

    .rec-dot_active {
        background-color: var(--primary-light);
        box-shadow: 0 0 1px 3px var(--primary-dark);
    }

    .rec-arrow,
    .rec-arrow-left,
    .rec-arrow-right {
        border: none;
        box-shadow: none;
        background-color: transparent !important;
        color: var(--primary) !important;
        transition: none;
        &:hover {
            background-color: transparent !important;
            transform: scale(1.05);
        }
    }

    .rec-item-wrapper {
        box-shadow: 1px 1px 1px 1px lightgray;
        border-radius: 5px;
    }
}
